{% extends "layoutLogueado.html" %}

{% block content%}
<section id="titulo" class="jumbotron text-center">
    <h2 class="display-4" style="margin-top: 25px;">Simulador de intercambio de mensajes cifrados</h2>
</section>
<section id="cifrador">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="card bg-dark text-white" style="margin-top: 50px; border-radius: 1rem; width: fit-content;">
            <div class="card-body text-left">
                <div id="dataDeAlice" >
                    <p style="font-size: 30px; text-align: center;">Mensajes de Alice</p>
                    <p style="font-size: 17px;">Tienes {{nMsgPendientesAlice}} mensajes pendientes</p>

                    <form action='/cifrador' class="form-white mb-4" style="text-align: center;" method="post">
                        <p class="text-muted" style="text-align: center;">Mensaje a cifrar y mandar</p> 
                        <input type="message" name="inputAliceMsg" class="form-control form-control-lg mb-3" placeholder="Introduce el mensaje"/>
                        <button class="btn btn-outline-secondary mb-3" style="border-radius: 40px;" type="submit">Manda mensaje</button>
                    </form>
                    
                    <form action="/cifrador" class="form-white mb-4" style="text-align: center;" method="post">
                        <input type="message" style="visibility: hidden; display: none;" name="traduceDBob" value="traduceDBob"></input>
                        <button class="btn btn-outline-secondary mb-3" style="border-radius: 40px" type="submit">Recibe mensajes</button>
                    </form>
                    <p>Mensaje recibido: {{mensajitoDeBob}}</p>
                </div>
            </div>
        </div>
        <!---->
        <div class="card bg-dark text-white" id="cardBob" style="margin-top: 50px; border-radius: 1rem; width: fit-content;margin-left: 5%;">
            <div class="card-body text-left">
                <div id="dataDeBob" >
                    <p style="font-size: 30px; text-align: center;">Mensajes de Bob</p>
                    <p style="font-size: 17px;">Tienes {{nMsgPendientesBob}} mensajes pendientes</p>
                    <form action='/cifrador' class="form-white mb-4" style="text-align: center;" method="post">
                        <p class="text-muted" style="text-align: center;">Mensaje a cifrar y mandar</p> 
                        <input type="message" name="inputBobMsg" class="form-control form-control-lg mb-3" placeholder="Introduce el mensaje"/>
                        <button class="btn btn-outline-secondary mb-3" style="border-radius: 40px;" type="submit">Manda mensaje</button>
                        
                    </form>
                    <form action="/cifrador" class="form-white mb-4" style="text-align: center;" method="post">
                        <input type="message" style="visibility: hidden; display: none;" name="traduceDAli" value="traduceDAli"></input>
                        <button class="btn btn-outline-secondary mb-3" style="border-radius: 40px" type="submit">Recibe mensajes</button>
                    </form>
                    <p>Mensaje recibido: {{mensajitoDeAlice}}</p>
                </div>
            </div>
        </div>

        <div class="card bg-dark text-white" style="margin-top: 50px;margin-left: 40px; border-radius: 1rem; width: fit-content;">
            <div class="card-body text-left">
                <div id="msgEncripted" >
                    <p style="font-size: 35px; text-align: center;">Mensaje cifrado enviado por Alice</p>
                    <p style="font-size: 25px; text-align: center;">{{msgEncAlice}}</p>
                    <p style="font-size: 35px; text-align: center;">Mensaje cifrado enviado por Bob</p>
                    <p style="font-size: 25px; text-align: center;">{{msgEncBob}}</p>
                </div>
            </div>
        </div>

        <div class="card bg-dark text-white" style="margin-top: 50px; border-radius: 1rem; width: fit-content;">
            <div class="card-body text-left">
                <div id="dataComún" >
                    <form action="/cifrador" class="form-white mb-4" style="text-align: center" method="post">
                        <input type="message" style="visibility: hidden; display: none;" name="cambiaClaves" value="cambiaK"></input>
                        <button class="btn btn-outline-secondary mb-3" style="border-radius: 40px" type="submit">Cambia claves</button>
                        
                    </form>
                    <p style="font-size: 25px; text-align: center;">Parámetros de Alice</p>
                    <p style="font-size: 15px; text-align: center;">Clave pública de Alice: {{kuAlice}}</p>
                    <p style="font-size: 15px; text-align: center;">Secreto calculado por Alice: {{aliceSecret}}</p>
                    <p style="font-size: 25px; text-align: center;">Parámetros de Bob</p>
                    <p style="font-size: 15px; text-align: center;">Clave pública de Bob: {{kuBob}}</p>
                    <p style="font-size: 15px; text-align: center;">Secreto calculado por Bob: {{aliceSecret}}</p>
                    
                </div>
            </div>
        </div>
        <!--<div class="card bg-dark text-white justify-content-center align-items-center" style="margin-left: 12px;margin-top: 50px; border-radius: 1rem; width: fit-content;">
            <div class="card-body text-center">
                <form action='/cifrador' class="form-white mb-4" method="post">
                    <p class="text-muted" style="text-align: center;">Mensaje a encriptar</p> 
                    <input type="message" name="inputMsgEth" class="form-control form-control-lg mb-3" placeholder="Introduce el mensaje"/>
                    <button class="btn btn-outline-secondary mb-3" style="border-radius: 40px;" type="submit">Encripta</button>
                </form>
            </div>
        </div>-->
        
        
    </div>
</section>
{% endblock %}