
<html>  
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/error_404.css')}}"/>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    </head>
    <body bgcolor="#DDDCDC">
        <section class="centered">
            <h1>404 Not Found</h1>
            <h1 class="subtitle">¿No estarias intentando fuzzear la web... no? x)</h1>
            <a href="/"><button class="boton">Volver a home</button></a>
        </section>
    </body>
    
</html>
