{% extends "layoutNoLog.html" %}

{% block content%}
<div class="bg-light">
  <div class="container py-4" >
    <header class="pb-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
        <img src="/static/logo.png" width="50" height="50">
        <span class="fs-4"><h1 class="align-items-center">¡Bienvenido a ECCParaTodos!</h1></span>  
      </a>
    </header>

    <div class="p-5 mb-4 bg-light rounded-3 row display-5 d-flex">
      <div class="container-fluid py-3" style="float: left;">
            <h1 class="display-5 fw-bold">¡Bienvenido!</h1>
        <p class="col-md-18 fs-4">Esta es una página dedicada al aprendizaje de las curvas elípticas, aplicaciones en la criptografía, en la vida cotidiana... Aunque parezca que no,
            son muy utilizadas hoy en dia
        </p>
        <p class="col-md-8 fs-4">En esta página aprenderemos:</p>
        <p class="col-md-8 fs-4">&nbsp&nbsp&nbsp&nbsp Qué son las curvas elípticas</p>
        <p class="col-md-8 fs-4">&nbsp&nbsp&nbsp&nbsp Para qué sirven las curvas elípticas</p>
        <p class="col-md-8 fs-4">&nbsp&nbsp&nbsp&nbsp Dónde son usadas y para qué</p>
        <p class="col-md-8 fs-4">&nbsp&nbsp&nbsp&nbsp Aplicaciones interesantes de las curvas elípticas</p>
        <p class="col-md-8 fs-5"></p>
        <a href="/register"><button class="btn btn-outline-dark btn-lg" type="button">¡Regístrate!</button></a>
      </div>
    </div>

    <div class="row align-items-md-stretch">
      <div class="col-md-6">
        <div class="h-100 p-5 text-white bg-dark rounded-3">
          <h2>¿Sabías que son empleadas en el sistema de bitcoin?</h2>
          <p>El protocolo de Bitcoin utiliza el algoritmo de ECDSA, utilizado para las firmas digitales por sus propiedades.</p>
          <a href="/bitcoin"><button class="btn btn-outline-light" type="button">¿Quieres saber más?</button></a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 p-5 bg-light border rounded-3">
          <h2>¡Retos disponibles!</h2>
          <p>Hemos añadido una serie de retos y preguntas para los usuarios registrados con las que podrás afianzar los conocimientos adquiridos en la página! Los retos irán desde responder unas preguntas hasta
            la verificación de firmas.
          </p>
          <a href="/login"><button class="btn btn-outline-secondary" type="button">Retos</button></a>
        </div>
      </div>
    </div>

  </div>
</div>
{% endblock %}