{% extends "layoutNoLog.html" %}

{% block content%}
<section class="vh-100 bg-light">
    <div class="container py-4 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-dark text-white" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">
                        <div class="mb-md-5 mt-md-4 pb-5">
                            <h2 class="fw-bold">Introduce la nueva contraseña a setear</h2>
                            

                            <form action='/nuevaContraseña' class="form-white mb-4" method="post">
                                <p class="text-muted" style="text-align: left;">Contraseña nueva</p> 
                                <input type="code" name="introNuevaPass" class="form-control form-control-lg mb-3" placeholder="Introduce la contraseña nueva"/>
                                <button class="btn btn-outline-secondary mb-3" style="border-radius: 40px;" type="submit">Siguiente</button>
                            </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}