{% extends "layoutNoLog.html" %}

{% block content%}
<h3 class="nocorrect">Hubo un error en el inicio de sesión, por favor, inténtelo de nuevo</h3>
<section class="vh-100 bg-light">
    <div class="container py-4 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-dark text-white" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">
                        <div class="mb-md-5 mt-md-4 pb-5">
                            <h2 class="fw-bold">Inicio de sesión</h2>
                            <p class="text-white mb-3 text-muted">Logueate para acceder a todas las características de la página</p>
                            <p class="mb-5 text-muted">¿Aún no tienes una cuenta?<a class="text-white" style="text-decoration: none;" href="/register" >&nbsp&nbspRegístrate</a></p>

                            <form action='/login' class="form-white mb-4" method="post">
                                <p class="text-muted" style="text-align: left;">Correo electrónico</p> 
                                <input type="email" name="inputemail" class="form-control form-control-lg mb-3" placeholder="Introduce el correo electronico"/>
                                <p class="text-muted" style="text-align: left;">Contraseña</p>
                                <input type="password" name="inputpwd" class="form-control form-control-lg mb-3" placeholder="Introduce la contraseña"/>
                                <button class="btn btn-outline-secondary mb-3" style="border-radius: 40px;" type="submit">Entra</button>
                            </form>

                            <p class="small mb-5 text-muted">¿Has perdido la contraseña?<a class="text-white" style="text-decoration: none;" href="/recovery" >&nbsp&nbspRecupérala</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}